App.css


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1e1e1e;
  font-family: Arial, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 320px;
  background: #1c1c1c;
  border-radius: 18px;
  padding: 12px;
}

.display {
  height: 100px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  padding: 15px;

  color: white;
  font-size: 55px;
  font-weight: 300;

  overflow: hidden;
}

.buttons {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 8px;
}

button {
  height: 65px;

  border: none;
  border-radius: 50%;

  background: #505050;
  color: white;

  font-size: 24px;

  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.95);
}

/* AC, +/-, % */

.function {
  background: #d4d4d2;
  color: black;
}

/* +, -, ×, ÷, = */

.operator {
  background: #ff9500;
  color: white;
}

/* Make zero button wider */

.zero {
  grid-column: span 2;

  border-radius: 35px;

  text-align: left;

  padding-left: 25px;
}